Exemplos de uso do componente:
<br />
<app-button (clickEvent)="sendData()" text="Enviar" type="default"/>
<br>
<app-button (clickEvent)="sendData()" text="Rayane" type="danger"/>
<br>
<app-button (clickEvent)="sendData()" text="Confirmar" type="success"/>

<br>
<app-list [arrayItens]="itens"></app-list>
<app-list [arrayItens]="users" />

<br>

<app-chip text="Ativo" bg-color="#28A745"></app-chip>
<app-chip text="Inativo"></app-chip>

<br>


<app-card title="Título do card">
    <p>Exemplo de texto</p>
    <ul>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
    </ul>
</app-card>